name: Create empty GitHub repo and clone monorepo into it

on:
  repository_dispatch:
    types: [onboarding]

env:
  TARGET_REPO: ${{ github.event.client_payload.target_repo }}
  GITHUB_TEAM_NAME: ${{ github.event.client_payload.github_team_name }}

jobs:
  create_and_clone_repo:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Generate GitHub App token
        id: github_app
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Create empty repo
        uses: actions/github-script@v7
        with:
          github-token: ${{ steps.github_app.outputs.token }}
          script: |
            const repoName = '${{ env.TARGET_REPO }}';
            const response = await github.request('POST /orgs/{org}/repos', {
                org: 'kartverket',
                name: repoName,
                description: 'data-ingestor-repo for team ${{ env.TEAM_NAME }}. Opprinnelig klonet fra https://github.com/kartverket/dask-monorepo-reference-setup.',
                visibility: 'internal',
                headers: {
                  'X-GitHub-Api-Version': '2022-11-28'
                }
            });
            console.log(`Response for creating repo ${repoName}:`, response);

      - name: Set DASK and product team groups as admin
        uses: actions/github-script@v7
        with:
          github-token: ${{ steps.github_app.outputs.token }}
          script: |
            const repoName = '${{ env.TARGET_REPO }}';
            const teamSlug = 'dask';
            const response_dask = await github.rest.teams.addOrUpdateRepoPermissionsInOrg({
              org: 'kartverket',
              team_slug: teamSlug,
              owner: 'kartverket',
              repo: repoName,
              permission: 'admin'
            });
            console.log(`Added DASK team to ${repoName}:`, response_dask.status);

            const response_team = await github.rest.teams.addOrUpdateRepoPermissionsInOrg({
              org: 'kartverket',
              team_slug: '${{ env.GITHUB_TEAM_NAME }}',
              owner: 'kartverket',
              repo: repoName,
              permission: 'admin'
            });
            console.log(`Added ${{ env.GITHUB_TEAM_NAME }} to ${repoName}:`, response_team.status);

      - name: Get octo-sts token for the template repo
        uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f
        id: octo-sts-template
        with:
          scope: kartverket/dask-monorepo-reference-setup
          identity: "dask-modules"

      - name: Checkout the reference repository
        uses: actions/checkout@v4
        with:
          repository: kartverket/dask-monorepo-reference-setup
          ref: main
          token: ${{ steps.octo-sts-template.outputs.token }}

      - name: Push to a new branch
        run: |
          git config --global user.name "DASK CI"
          git config --global user.email "noreply@kartverket.no"
          rm -rf .git
          git init
          git add .
          git commit -m "Initial commit"
          git branch -M main
          git remote add origin https://x-access-token:${{ steps.github_app.outputs.token }}@github.com/kartverket/${{ env.TARGET_REPO }}.git
          git push -u origin main

  configure-repo:
    needs: create_and_clone_repo
    uses: ./.github/workflows/create-ingestor-pr.yml
    permissions:
      id-token: write
    with:
      target_repo: ${{ github.event.client_payload.target_repo }}
      team_short_name: ${{ github.event.client_payload.team_short_name }}
      script_params: ${{ github.event.client_payload.script_params }}
