name: Publish datacontract
on:
    workflow_call:
        inputs:
            auth_project_number:
                description: "The GCP Project Number used for authentication. A 12-digit number used as a unique identifier for the project. Used to find workload identity pool."
                required: true
                type: string
            service_account_deploy:
                description: "The GCP service account connected to the identity pool that will be used to deploy the datacontract."
                required: true
                type: string
            service_account_compute:
                description: "The GCP service account connected to the identity pool that will be used to validate the datacontract against databricks."
                required: true
                type: string
            datacontract_path:
                description: "The path to the directory containing datacontract YAML files to publish. Example: src/contracts"
                required: true
                type: string
            environment:
                description: "The target environment for deployment, e.g., 'dev' or 'prod'."
                required: false
                type: string
                default: "prod"
            publish_datacontract:
                description: "Whether to publish the datacontract to Pub/Sub. Set to false to only validate the datacontract without publishing."
                required: false
                type: boolean
                default: true

jobs:
    publish-datacontract:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  ref: ${{ github.ref }}

            - name: Get changed contract files
              id: changed_contracts
              run: |
                  git fetch origin main
                  CHANGED_FILES="$(git diff --name-only origin/main...HEAD | grep '^${{ inputs.datacontract_path }}/.*\.yml$' || echo '')"
                  CHANGED_FILES_COMMA_SEPARATED="$(echo "$CHANGED_FILES" | tr '\n' ',')"
                  echo "Changed contract files:"
                  echo "\"$CHANGED_FILES_COMMA_SEPARATED\""
                  echo "changed_files=\"$CHANGED_FILES_COMMA_SEPARATED\"" >> $GITHUB_OUTPUT

            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  repository: kartverket/dask-modules
                  path: dask-modules
                  ref: v3.6.0

            - name: Create workload identity provider string
              id: create_workload_identity_provider
              run: |
                  PRODUCT_NAME="${{ inputs.service_account_deploy }}"
                  PRODUCT_NAME="${PRODUCT_NAME%%-deploy*}"
                  WORKLOAD_IDENTITY_PROVIDER="projects/${{ inputs.auth_project_number }}/locations/global/workloadIdentityPools/${PRODUCT_NAME}-deploy-pool/providers/github-provider"
                  echo "workload_identity_provider=$WORKLOAD_IDENTITY_PROVIDER" >> $GITHUB_OUTPUT

            - id: google_auth_compute
              name: Authenticate with Google Cloud
              uses: google-github-actions/auth@v2.1.10
              with:
                  workload_identity_provider: ${{ steps.create_workload_identity_provider.outputs.workload_identity_provider }}
                  service_account: ${{ inputs.service_account_compute}}

            - name: Setup Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.12"
                  cache: "pip"

            - name: Install dependencies
              run: |
                  pip install -r dask-modules/scripts/validate_datacontract/requirements.txt

            - name: Validate datacontracts
              if: steps.changed_contracts.outputs.changed_files != '' && (github.event_name == 'pull_request' || github.event_name == 'push')
              run: |
                  ENVIRONMENT=${{ inputs.environment }} SERVICE_ACCOUNT=${{ inputs.service_account_compute }} CHANGED_DATACONTRACTS="${{ steps.changed_contracts.outputs.changed_files }}" python dask-modules/scripts/validate_datacontract/validate_datacontract.py

            - id: google_auth_deploy
              name: Authenticate with Google Cloud
              if: inputs.publish_datacontract == 'true'
              uses: google-github-actions/auth@v2.1.10
              with:
                  workload_identity_provider: ${{ steps.create_workload_identity_provider.outputs.workload_identity_provider }}
                  service_account: ${{ inputs.service_account_deploy}}

            - name: "Set up Cloud SDK"
              if: inputs.publish_datacontract == 'true'
              uses: "google-github-actions/setup-gcloud@v3"
              with:
                  version: ">= 363.0.0"

            - name: Install mikefarah/yq
              run: |
                  wget https://github.com/mikefarah/yq/releases/download/v4.43.1/yq_linux_amd64 -O /usr/local/bin/yq
                  chmod +x /usr/local/bin/yq

            - name: Publish changed contracts as JSON to Pub/Sub
              if: steps.changed_contracts.outputs.changed_files != '' && inputs.publish_datacontract == 'true'
              run: |
                  IFS=',' read -ra FILES <<< "${{ steps.changed_contracts.outputs.changed_files }}"
                  for file in "${FILES[@]}"; do
                    echo "Publishing $file"
                    JSON_CONTENT=$(yq -o json "$file")
                    if [[ "${{ inputs.environment }}" == "prod" ]]; then
                        TOPIC="projects/dataplattform-prod-9b1d/topics/data-contract-topic"
                    else
                        TOPIC="projects/dataplattform-dev-d335/topics/data-contract-topic"
                    fi
                    gcloud pubsub topics publish "$TOPIC" --message "$JSON_CONTENT"
                  done
